/*
* ==== SIDEBAR ====
*/

.sidebar {
  display: flex;
  min-height: 100%;
  flex-grow: 1;
  transition: all 0.3s;
}

.sidebar.isClosed {
  flex-grow: 0;
}

.sidebar ul.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  opacity: 1;
}

.sidebar ul.nav.isClosed {
  display: none;
}

.sidebar ul.nav li {
  list-style: none;
  padding: 20px 0;
}

.sidebar ul.nav li a {
  text-decoration: none;
}

.sidebar div {
  align-self: flex-end;
}

/*
* ==== MEDIA QUERIES ====
*/

@media only screen and (max-device-width: 736px) and (orientation: portrait) {
  .wrapper {
    flex-direction: column;
  }

  .sidebar {
    min-height: 60px;
    max-height: 60px;
  }

  .sidebar ul.nav {
    padding: 20px;
    flex-direction: row;
  }

  .sidebar ul.nav li {
    display: inline-block;
    padding: 2%;
  }

  .content {
    /*TBD*/
  }

  .content a.button {
    display: none;
  }
}

